<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.stardrv.cordova.plugin.cacheclear"
    version="1.1.0">

    <name>cacheclear</name>
    <repo>https://github.com/zsjinwei/cordova-plugin-cacheclear.git</repo>
    <keywords>webview,cache,clear,android,ios</keywords>
    <license>MIT</license>
    <author>stardrv</author>
    <description>
      &lt;p&gt;This is a WebView cache plugin for Cordova 6.1.1+ supporting Android (>=4.1) and iOS(>=6.0). It allows to clear the cordova webview cache.&lt;/p&gt;
    </description>

    <!-- android -->
    <platform name="android">
        <js-module src="www/cacheclear.js" name="cacheclear">
            <clobbers target="cacheclear" /><!-- will be available under window.cacheclear -->
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="cacheclear" >
                <param name="android-package" value="com.stardrv.cordova.plugin.cacheclear"/>
            </feature>
        </config-file>

        <source-file src="src/android/cacheclear.java" target-dir="src/com/stardrv/cordova/plugin" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/cacheclear.js" name="cacheclear">
            <clobbers target="cacheclear" /><!-- will be available under window.cacheclear -->
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="cacheclear">
                <param name="ios-package" value="cacheclear" />
            </feature>
        </config-file>

        <header-file src="src/ios/cacheclear.h" />
        <source-file src="src/ios/cacheclear.m" />
    </platform>
</plugin>
